body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:720px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:65px;
  width:405px;
  height:720px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:401px;
  word-wrap:break-word;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:65px;
  width:405px;
  height:78px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:17px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:68px;
  width:390px;
  height:17px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:105px;
  width:12px;
  height:22px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:105px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:169px;
  width:60px;
  height:60px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:239px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:300px;
  width:405px;
  height:279px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:585px;
  width:405px;
  height:155px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:601px;
  width:57px;
  height:16px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:238px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:341px;
  width:347px;
  height:238px;
  line-height:28px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:30px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:636px;
  width:347px;
  height:30px;
  color:#5E5E5E;
  line-height:28px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:310px;
  width:57px;
  height:16px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
