body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:42px;
  width:146px;
  height:60px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:142px;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:72px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:41px;
  width:143px;
  height:61px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:221px;
  width:145px;
  height:61px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:221px;
  width:145px;
  height:61px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:252px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:47px;
  width:50px;
  height:50px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:72px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u210_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2635px;
  top:47px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:72px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-10px;
  width:20px;
  height:20px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:58px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:43px;
  width:121px;
  height:58px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:117px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:72px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u218_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u218_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:101px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:107px;
  width:20px;
  height:20px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:72px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u222_seg1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-10px;
  width:20px;
  height:20px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:41px;
  width:143px;
  height:61px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:221px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-119px;
  width:8px;
  height:123px;
}
#u226_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-126px;
  width:20px;
  height:20px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:41px;
  width:143px;
  height:61px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:58px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:43px;
  width:121px;
  height:58px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:117px;
  word-wrap:break-word;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:72px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1467px;
  top:72px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:136px;
  height:8px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-10px;
  width:20px;
  height:20px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:41px;
  width:143px;
  height:61px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:221px;
  width:145px;
  height:61px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:101px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:107px;
  width:20px;
  height:20px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1671px;
  top:221px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-119px;
  width:8px;
  height:123px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-126px;
  width:20px;
  height:20px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1742px;
  top:72px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:138px;
  height:8px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-10px;
  width:20px;
  height:20px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:41px;
  width:143px;
  height:61px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2019px;
  top:72px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:58px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2123px;
  top:43px;
  width:132px;
  height:58px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:128px;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:72px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:140px;
  height:8px;
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-10px;
  width:20px;
  height:20px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:221px;
  width:143px;
  height:61px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:252px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:61px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2391px;
  top:41px;
  width:143px;
  height:61px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:2534px;
  top:72px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u260_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:2189px;
  top:101px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:15px;
  width:479px;
  height:8px;
}
#u262_seg2 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:-4px;
  width:8px;
  height:27px;
}
#u262_seg3 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:-11px;
  width:20px;
  height:20px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
